.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 200px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
    margin-left: 5px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
    margin: 0px 4px;
  }

  .countHandler button {
    width: 40px;
    background: #112D4E;
    color: white;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
}
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: #112D4E;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }

  .modalBody {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

 .modalBody h1 {
  font-size: 2rem;
  color: #3F72AF;
}

.modalBody button {
  width: 220px;
  height: 27px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #DBE2EF;
  border: none;
  cursor: pointer;
  color: #F9F7F7;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}

.modalBody button:hover {
  background-color: #3F72AF;
}